body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, #a7fff6, #adf97a);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-image: linear-gradient(90deg, #55ded1, #2cae1e);
    color: transparent;
    background-clip: text;
    font-size: 60px;
}

button {
    padding: 15px 30px;
    font-size: 22px;
    background-color: #0368c1;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}

button.reset {
    background-color: #b73232;
}

p {
    font-size: 20px;
    margin-top: 20px;
}

span {
    font-weight: bold;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
}

.container {
    height: 80%;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #a9a9a9;
}

#elapsedTime {
    color: #ff2020;
}

#remainingTime {
    color: #00a50e;
}

.time {
    margin: 60px;
}

.time-display {
    color: #333;
    font-size: 56px;
    margin: 20px;
}

[type="checkbox"] {
    position: relative;
    left: 30px;
    top: 0px;
    z-index: 0;
    -webkit-appearance: none;
}

[type="checkbox"]+label {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 70px;
    position: relative;
    margin-top: -30px;
}

[type="checkbox"]+label:before {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #ddd;
    background-color: #EEE;
    content: "";
    margin-right: 15px;
    transition: background-color 0.5s linear;
    z-index: 5;
    position: absolute;
    left: 0px;
}

[type="checkbox"]+label:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    content: "";
    transition: margin 0.1s linear;
    box-shadow: 0px 0px 5px #aaa;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 10;
}

[type="checkbox"]:checked+label:before {
    background-color: #2b8718;
}

[type="checkbox"]:checked+label:after {
    margin: 0 0 0 30px;
}